# General IDE & environment ignores
.vscode/
*.pyc
.venv/
venv/

# Ignore build directories
build/
dist/

# Ignore file extentions
*.mp4
*.mp3

# Other ignores
gui_main.spec
gui_main.cp310-win_amd64.pyd
gui_main.c


# Specific ignores
YouTubeDownloader.exe
YouTubeDownloader.zip
YouTubeDownloader.spec
YouTubeDownloaderGUI.exe
YouTubeDownloaderGUI.spec

# Buildozer ignores
.buildozer/
build_android/
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/YoutubeVideoDownloader.iml
