beautifulsoup4
configparser
dataclasses
ffmpeg-python
google-api-python-client
google-auth-oauthlib
pafy
pandas
pillow
pyperclip
python-vlc
pytube
pytchat
requests
selenium
tkinter
tqdm
urlextract
vlc
youtube-dl
