altgraph
anyio
attrs
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
configparser
docutils
ffmpeg-python
filelock
Flask
Flask-Cors
future
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
gunicorn
h11
h2
hpack
httpcore
httplib2
httpx
hyperframe
idna
itsdangerous
Jinja2
Kivy
Kivy-Garden
MarkupSafe
numpy
oauthlib
outcome
packaging
pafy
pandas
pefile
Pillow
platformdirs
protobuf
pyasn1
pyasn1-modules
pycparser
pydeps
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyparsing
pyperclip
PySocks
pytchat
python-dateutil
python-dotenv
python-vlc
pytube
pytz
requests
requests-oauthlib
rsa
selenium
six
sniffio
sortedcontainers
soupsieve
stdlib-list
tqdm
trio
trio-websocket
tzdata
uritemplate
uritools
urlextract
urllib3
Werkzeug
wsproto
youtube-dl
