/* ================================= Define variables ================================= */
:root {
    --default-margin: 20px;
    --default-padding: 10px;
    --default-gap: 10px;
    /* ... other variables ... */
}

/* ================================= Colour themes ================================= */
:root {
    /* Default theme - Dark theme */
    --background-color: #333;
    --text-color: #f4f4f4;
    --app-window-bg: #222;
    --table-header-bg: #444;
    --table-row-bg: #383838;
    --table-border-color: #555;
    --button-bg: #0056b3;
    --button-hover-bg: #003f7f;
    --input-border-color: #555;
    /* Colours for the context menu */
    --context-menu-bg: #fff; /* Light background for dark theme */
    --context-menu-text: #333; /* Dark text for light background */
    --context-menu-border: #dfdfdf;
    --context-menu-hover-bg: #f5f5f5;
    --context-menu-box-shadow: 1px 1px 2px #cfcfcf;
    --link-color: #a5d2f2;
    --link-hover-color: #0077cc;
    --row-selected-bg: rgba(255, 255, 255, 0.566)/* Light theme */
}

/* Dark theme colors (now set as default) */
/* No need for a separate .dark-theme selector since these are now the default */

/* Light theme colors */
.light-theme {
    --background-color: #f4f4f4;
    --text-color: #333;
    --app-window-bg: #fff;
    --table-header-bg: #f2f2f2;
    --table-row-bg: #f9f9f9;
    --table-border-color: #ddd;
    --button-bg: #007BFF;
    --button-hover-bg: #0056b3;
    --input-border-color: #ddd;
    /* Colours for the context menu */
    --context-menu-bg: #333; /* Dark background for light theme */
    --context-menu-text: #f4f4f4; /* Light text for dark background */
    --context-menu-border: #555;
    --context-menu-hover-bg: #444;
    --context-menu-box-shadow: 1px 1px 2px #555;
    --link-color: #0095ff;
    --link-hover-color: #0077cc;
    --row-selected-bg: rgb(255, 0, 0); /* Dark theme */
}

/* ======================= Main CSS Element - Basic Layout and Structure ======================= */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Center-align the text */
    margin: 20px 0; /* Adjust top and bottom margin as needed */
}

.logo {
    max-width: 150px; /* Adjust as needed */
    height: auto;
    margin-bottom: 10px; /* Space between logo and title */
}

.title {
    color: var(--text-color);
    margin: 0; /* Remove default margin */
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.app-window {
    max-width: 1700px;
    margin: 50px auto;
    background-color: var(--app-window-bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 100vh; /* Set minimum height to viewport height */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* ================================= Control Elements CSS elements ================================= */

.controls, .settings-row {
    display: flex;
    flex-wrap: wrap; /* allows items to wrap to the next line */
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.controls input, .diagnostic-output textarea, #url-entry, #download-location, #diagnostic-text {
    padding: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    width: 100%;
}

button {
    padding: 10px 20px;
    background-color: var(--button-bg);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: var(--button-hover-bg);
}

#settings-btn img, #theme-btn img {
    width: 20px;
    height: 20px;
}

select {
    padding: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    cursor: pointer;
}

.controls2 {
    display: flex;
    justify-content: flex-start; /* Aligns children to the left */
    gap: 10px; /* Optional: adds space between buttons */
}

button:disabled, .disabled-button {
    background-color: #ccc; /* Gray background for disabled buttons */
    color: #666; /* Darker text for disabled buttons */
    cursor: not-allowed; /* Cursor indicates that the item is not available */
    /* Remove the height property unless you specifically need it */
}

/* =============== Diagnostic output  Styles =============== */

/* Styles for the diagnostic output area */
.diagnostic-output {
    width: 98%;
    margin-top: 20px;
}

#diagnostic-text {
    height: 20px; /* Adjust as needed */
    resize: vertical; /* Allow vertical resizing */
}

/* ======================= Progress Bar Styles ======================= */

/* Progress Bar Styles */
.progress-container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Light grey background */
    border-radius: 4px; /* Rounded corners */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); /* Inner shadow for depth (optional) */
    margin-top: 20px; /* Space above the progress bar */
}

.progress-bar {
    height: 20px; /* Height of the progress bar */
    background-color: var(--button-bg); /* Use the button background color */
    border-radius: 4px; /* Rounded corners */
    width: 0%; /* Initial width of 0% */
    transition: width 0.4s ease; /* Smooth transition for width changes */
    text-align: center; /* Center text inside the progress bar */
    line-height: 20px; /* Align text vertically */
    color: white; /* Text color */
}

/* Example of additional classes for different progress bar colors */
.progress-bar-success {
    background-color: #28a745; /* Green for success */
}

.progress-bar-warning {
    background-color: #ffc107; /* Yellow for warning */
}

.progress-bar-danger {
    background-color: #dc3545; /* Red for danger */
}

/* ================================= Video Item Element Styles ================================= */

#video-list {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto; /* Enable horizontal scrolling for large tables */
}

#video-list th, #video-list td {
    border: 1px solid var(--table-border-color);
    padding: 8px;
    text-align: left;
    word-wrap: break-word; /* allow long content to wrap */
}

#video-list th {
    background-color: var(--table-header-bg);
}

#video-list tr:nth-child(even) {
    background-color: var(--table-row-bg); /* zebra-striping for table rows */
}

/* ================================= Video Item Row Hover Styles ================================= */

#video-list tr {
    transition: transform 0.3s ease; /* Smooth transition for scaling */
}

#video-list tr:hover {
    transform: scale(1.005); /* Slightly enlarge the row on hover */
    background-color: var(--table-row-hover-bg); /* Optional: change background color on hover */
}

/* =============== Table link Styling =============== */

#video-list a {
    color: var(--link-color);
    text-decoration: none; /* Optional: removes underline from links */
    transition: color 0.2s; /* Smooth transition for color change */
}

#video-list a:hover, #video-list a:focus {
    color: var(--link-hover-color);
    text-decoration: underline; /* Optional: adds underline on hover/focus */
}


/* =============== Table thumbnail Styling =============== */

.thumbnail-image {
    width: 60px; /* Initial width, adjust as needed */
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.thumbnail-image:hover {
    transform: scale(5); /* Enlarge the image on hover */
    cursor: pointer; /* Change cursor to indicate clickable */
}

/* =============== Table columns context menu =============== */
.context-menu {
    position: absolute;
    z-index: 1000;
    padding: 12px 0;
    background-color: var(--context-menu-bg);
    border: solid 1px var(--context-menu-border);
    box-shadow: var(--context-menu-box-shadow);
}

.context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.context-menu ul li {
    color: var(--context-menu-text);
    padding: 8px 12px;
    cursor: pointer;
}

.context-menu ul li:hover {
    background-color: var(--context-menu-hover-bg);
}

/* =============== Table item selection for context menu =============== */
.item-selected {
    color: #ef1c1c;
}

/* =============== Video Item grid card =============== */
.video-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: var(--default-gap);
}

.video-thumbnail {
    width: 100%;
    height: auto;
    display: block;
}

.video-info {
    padding: var(--default-padding);
}

.video-title {
    margin: 0;
    font-size: 1.2em;
}

.video-author, .video-length, .video-description, .video-meta, .video-actions {
    font-size: 0.9em;
    margin: 5px 0;
}

.video-watch-link {
    color: var(--link-color);
    text-decoration: none;
}

.video-watch-link:hover {
    text-decoration: underline;
}

.video-rating {
    /* Additional styling for the rating */
}

