<!DOCTYPE html>
<html lang="en" data-theme="dark-theme">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Downloader GUI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme-checkbox.css') }}">
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="app-window">
        <!-- ============== Logo and Title as Link section ============== -->
        <div class="title-and-logo-header">
            <a href="https://github.com/JessyJP/YoutubeVideoDownloader" target="_blank">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
                <h1 class="title">Video Downloader GUI</h1>
            </a>
        </div>
        
        <!-- ============== Control section ============== -->
        <label class="controls-panel" for="url-entry">Video Watch URL(s)  -  Playlist URL(s)  -  Channel URL(s)  -  Text containing URL(s):</label>
        <div class="controls-panel">
            <input  type="text"   id="url-entry" placeholder="Enter video URL">
            <button type="button" id="analyze-btn">Analyze</button>
            <button type="button" id="download-btn">Download</button>
        </div>

        <div class="controls-panel">
            <!-- <button type="button" id="settings-btn">
                <img src="{{ url_for('static', filename='images/configuration_gear_icon_normal.png') }}" alt="Settings Icon">
            </button> -->
            <input  type="checkbox" class="theme-checkbox" id="theme-btn">

            <!-- Place this in the appropriate part of your HTML structure -->
            <div class="view-mode-dropdown-selector">
                <label for="view-mode-dropdown">View Mode:</label>
                <select id="view-mode-dropdown">
                    <option value="table">Table Row View</option>
                    <option value="grid">Grid Card View</option>
                </select>
            </div>

        <!-- </div> -->
        
        <!-- <div class="controls-panel"> -->
            
            <select id="audio-limiter">
                {% for bitrate in audio_bitrate_list %}
                <option value="{{ bitrate }}" {% if bitrate == last_bitrate %}selected{% endif %}>{{ bitrate }}</option>
                {% endfor %}
            </select>
            
            <select id="video-limiter">
                {% for resolution in video_resolution_list %}
                <option value="{{ resolution }}" {% if resolution == last_resolution %}selected{% endif %}>{{ resolution }}</option>
                {% endfor %}
            </select>
            
            <select id="fps-limiter">
                {% for fps in fps_value_list %}
                <option value="{{ fps }}" {% if fps == last_fps %}selected{% endif %}>{{ fps }}</option>
                {% endfor %}
            </select>

            <button type="button" id="save-to-device">Save to Device</button> 
        </div>
        
        <!-- ============== Diagnostic output section ============== -->

        <div class="diagnostic-output">
            <textarea id="diagnostic-text" placeholder="Diagnostic output..." readonly></textarea> <!-- Diagnostic Text Field -->
        </div>

        <div class="progress-container">
            <div id="progress-bar-id" class="progress-bar" style="width: 0%;">0%</div>
        </div>     

        <!-- ============== Item Display section ============== -->

        <table id="video-list">
            <thead>
                <tr>
                    <!-- Table headers will be dynamically added here -->
                </tr>
            </thead>            
            <tbody>
                <!-- Rows of data will go here for table view -->               
            </tbody>
        </table>

        <!-- Grid View (initially hidden) -->
        <div id="grid-container" class="grid-layout" style="display: none;">
            <!-- Grid cards will go here -->
        </div>
        
        <div id="column-context-menu-id" class="column-context-menu" style="display:none;">
            <ul>
                <!-- Context menu items will be dynamically added here -->
            </ul>
        </div>
        
    </div>
    
    <script type="module" src="{{ url_for('static', filename='events.js') }}"></script>
    <!-- <script type="module" src="{{ url_for('static', filename='api.js') }}"></script> -->
</body>
</html>
