<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Downloader GUI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="app-window">
        <!-- Logo and Title as Link -->
        <div class="header">
            <a href="https://github.com/JessyJP/YoutubeVideoDownloader" target="_blank">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
                <h1 class="title">Video Downloader GUI</h1>
            </a>
        </div>

        <div class="controls">
            <label for="url-entry">Video Watch URL(s)  -  Playlist URL(s)  -  Channel URL(s)  -  Text containing URL(s):</label>
            <input type="text" id="url-entry" placeholder="Enter video URL">
        </div>
        <div class="settings-row">
            <button type="button" id="settings-btn">
                <img src="{{ url_for('static', filename='images/configuration_gear_icon_normal.png') }}" alt="Settings Icon">
            </button>
            <button type="button" id="theme-btn">Theme</button> <!-- Theme Button -->
            <button type="button" id="play-btn">Play Preview Selection Locally</button>
            
            <select id="audio-limiter">
                {% for bitrate in audio_bitrate_list %}
                    <option value="{{ bitrate }}" {% if bitrate == last_bitrate %}selected{% endif %}>{{ bitrate }}</option>
                {% endfor %}
            </select>

            <select id="video-limiter">
                {% for resolution in video_resolution_list %}
                    <option value="{{ resolution }}" {% if resolution == last_resolution %}selected{% endif %}>{{ resolution }}</option>
                {% endfor %}
            </select>

            <select id="fps-limiter">
                {% for fps in fps_value_list %}
                    <option value="{{ fps }}" {% if fps == last_fps %}selected{% endif %}>{{ fps }}</option>
                {% endfor %}
            </select>

            <button type="button" id="location-btn">Select Download Location</button>
            <div class="controls2">
                <button type="button" id="analyze-btn">Analyze</button>
                <button type="button" id="download-btn">Download</button> <!-- Download Button -->
                <button type="button" id="clear-items-btn">Clear Items</button> <!-- Download Button -->
            </div>
            <input type="text" id="download-location" placeholder="Download location">
        </div>
        <div class="diagnostic-output">
            <textarea id="diagnostic-text" placeholder="Diagnostic output..." readonly></textarea> <!-- Diagnostic Text Field -->
        </div>

        <div class="progress-container">
            <div id="progress-bar-id" class="progress-bar" style="width: 100%;">100%</div>
        </div>     

        <table id="video-list">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Download Status</th>
                    <th>Watch URL</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Length</th>
                    <th>Description</th>
                    <th>Publish Date</th>
                    <th>Views</th>
                    <th>Thumbnail URL</th>
                    <th>Rating</th>
                    <th>Video ID</th>
                    <th>Quality</th>
                    <th>File Size (MB)</th>
                </tr>
            </thead>            
            <tbody>
                <!-- Rows of data will go here -->
            </tbody>
        </table>
    </div>
    
    <script type="module" src="{{ url_for('static', filename='events.js') }}"></script>
    <!-- <script type="module" src="{{ url_for('static', filename='api.js') }}"></script> -->
</body>
</html>
